@keyframes Fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

html {
    scroll-behavior: smooth;
    animation-name: Fade-in;
	animation-duration: 1s;
    font-family: 'Poppins';
    background-color: #e1e1e1;
}


 

/*** Button ***/
.btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
    font-size: 15px;
    background-color: #8b6735;
    border: #8b6735;
    box-shadow: 0px 5px 0px #7b5014a6;
}

/* .btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
} */


/*** Navbar ***/



.navbar-light .navbar-nav .nav-link {
    font-family: 'Nunito', sans-serif;
    position: relative;
    margin-right: 25px;
    padding: 35px 0;
    color: #FFFFFF !important;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    transition: .5s;
}

.nav-item a {
    color: #FFFFFF;
    font: bold;
}

.nav-item a.dropdown-item {
    color: #000000;
    font-weight: bold;
}

/* .navbar-expand-lg {
    height: 90px;
} */

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: #000000 !important;
}

.sticky-top.navbar-light .nav-item .nav-link{
    color: #000000 !important;
    font-weight: bold;
}

.sticky-top.navbar-light .nav-item{
    color: #000000 !important;
    font-weight: bold;
}

.sticky-top.navbar-light .nav-item:hover{
    color: #000000 !important;
    font-weight: bold;
}



.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: #646464 !important;
}

.navbar-light .navbar-brand img {
    max-height: 75px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: #FFFFFF;
        color: #000000;
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link .nav-item {
        padding: 10px 0;
        margin-left: 0;
        color: #000000 !important;
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: #FFFFFF;
    }

    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--primary);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: calc(100% - 2px);
        left: 1px;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }
}




/*** Hero Header ***/
.hero-header {
    background: linear-gradient(rgba(0, 0, 0, 0.889), rgba(20, 20, 31, 0.613)), url(../img/Image/aryafoto2.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    border-radius: 0px 0px 50px 50px;
    filter: drop-shadow(0px 10px 0px #8b6735);
    animation-name: Transition;
	animation-duration: 1s;
}

.hero-header .text-center h1 {
    font-family: 'Kaushan Script';
    font-size: 80px;
    font-weight: 600;
    color: rgb(255, 237, 212)!important;
}

.hero-header .text-center p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 40px;
    color: rgb(255, 237, 212)!important;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: rgba(255, 255, 255, .5);
}


/*** About Me ***/
.card{
    font-family: 'Poppins';
    border:none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position:relative;
    overflow:hidden;
    border-radius:20px;
    cursor:pointer;
}

.card h5 {
    font-family: 'Kaushan Script';
}

.fonts{
    font-size:15px;
}



.buttons button:nth-child(1){
       border:1px solid #ad863e !important;
       border-radius: 25px;
       height:40px;
       background-color:#ad863e;
}

.buttons button:nth-child(1):hover{
    border:1px solid #ad863e !important;
    border-radius: 25px;
    height:40px;
    background-color:#ad863e;
}

.buttons button:nth-child(2){
    border:1px solid #ad863e !important;
       border-radius: 25px;
       height:40px;
       background-color:#ad863e;
}

.buttons button a{
    color: #ffffff;
    font-family: 'Poppins';
}




/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title h6 {
    color: #000000 !important;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*** Service ***/
.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.service-item:hover {
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Destination ***/
.destination img {
    transition: .5s;
}

.destination a:hover img {
    transform: scale(1.1);
}


/*** Trending Tours Card ***/

/* .container {
    border: 2px solid red ;`
} */

/* .row {
    border: 2px solid rgb(101, 0, 0);
} */



.container h1 {
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.05em;
    font-size: 48px;
    color: #8b6735;
    text-shadow: 0px 9px 9px rgba(0, 0, 0, 0.25);
}

.container h6 {
    color: #5f3700;
}


/* .tes {
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    box-shadow: rgb(0, 116, 87) 0px 5px, rgb(0, 135, 102) 0px 10px, rgb(0, 160, 120) 0px 15px, rgb(0, 194, 145) 0px 20px, rgb(0, 229, 172) 0px 25px;
} */

/* trending tours */

div.package-item {
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
border-radius: 20px;
height: 600px;
/* border: 4px #2ef0c999 solid; */
border-radius: 20px;
height: 600px;
background-color: #f8f8f8;
color: #003f23;
}



.package-item p {
    color:#003f23;
}

.package-item {
    transition: 1s;
}

.package-item img {
    transition: .5s;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 320px;
    width: max-content;
    border: 4px #2ef0c999 solid;
}


.package-item:hover {
    border-radius: 20px;
    transform: scale(1.025);
    transition: 1s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.package-item img:hover {
   border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    transform: scale(1.005);
    border-radius: 20px !important;
}


.package-item-2 {
/* box-shadow: 0px 0px 30px 6px rgba(0, 70, 52, 0.4) !important; */
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
border-radius: 20px;
height: 600px;
}

.text-container {
    border-top: 5px solid #8b673591;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #8b673579;
    height: 115px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Poppins';
    font-size: 15px;
}



.package-item-2 {
    transition: 1s;
}

.package-item-2 img {
    border: 4px #8b6735d4 solid;
    transition: .5s;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 300px !important;
    width: max-content;
}

.package-item-2.overflow-hidden {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.package-item-2:hover {
    border-radius: 20px;
    transform: scale(1.025);
    transition: 1s;
}

.package-item-2 img:hover {
   border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    transform: scale(1.005);
    border-radius: 20px !important;
}

.col-md-12 .package-item-2 img {
    width: 1000px;
}


@media screen and (max-width:768px) {
    .package-item-2 p {
        font-size: 11px;
    }

    .text-container {
        height: 100px;
    }
    .text-container p {
        font-size: 15px;
    }
}


@media screen and (max-width: 500px) {
    .package-item img {
        height: 250px;
    }

    .package-item-2 img {
        height: 250px;
    }

    .text-container {
        height: 140px;
    }

    .text-container p {
        font-size: 10px;
    }

    .hero-header .text-center h1 {
        font-family: 'Kaushan Script';
        font-size: 55px;
        font-weight: 600;
    }

    .hero-header .text-center p {
        font-family: 'Poppins';
        font-size: 25px;
        font-weight: 600;
    }

    .hero-header .form-control::placeholder {
        font-size: 10px;
    }

    
    
}

@media screen and (max-width: 500px) {
    .text-center h1 {
        font-size: 35px;
    }


}

/*** Carousel ***/



/*** Booking ***/
.cta {
    background: linear-gradient(rgba(15, 23, 43, 0.842), rgba(15, 23, 43, .7)), url(../img/Image/Tugu.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.cta h1.text-center {
    font-family: 'Kaushan Script';
}

.cta p {
    text-align: center;
    font-size: 13px;
}


@media screen and (min-width:768px) {
    .cta h1.text-center {
        font-size: 33px;
    }

    .cta button {
        font-size: 13px;
    }

    .cta a {
        font-size: 13px;
    }

    .cta h3 {
        font-size: 20px;
    }

}

@media screen and (max-width:500px) {
    .cta h1.text-center {
        font-size: 40px;
    }

    .cta button {
        font-size: 13px;
    }

    .cta a {
        font-size: 13px;
    }

    .cta h3 {
        font-size: 20px;
    }

}








.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(138, 20, 206);
  z-index: 9999;
  transition: all 1s ease;
}